:root{
    --Accent_color: #c23131;
    --Accent_color_hover: #942929;
    --HedaerTextColor: #ffffff;
    --Color_text: #4d4d4d;
    --Background_products: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(55,55,55,1) 75%);
}
